// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #ddd;
}

.login-form-box {
  border: 1px solid black;
  border-radius: 6px;
  background: white;
  width: 300px;
}

.header-row {
  height: 40px;
  padding: 10px 20px;
  font-size: 30px;
}

.login-header {
 font-family: 'Galada';
 color: red;
}

.login-form {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  background: #eee;
}

.login-input {
  margin: 0 20px 10px 20px;
  border-radius: 3px;
  font-weight: bold;
  font-size: 14px;
}

.login-field {
  background: white;
  border: 1px solid black;
  padding: 8px
}

.login-button {
  height: 30px;
  background: red;
  margin-bottom: 10px;
}

.login-footer {
  display: flex;
  justify-content: center;
  background: #eee;
  border-radius: 0 0 6px 6px
}

.nav-link {
  width: 150px;
  background: #666;
  margin: 10px;
  padding: 7px
}

.login-button, .nav-link {
  letter-spacing: 1px;
  color: #eee;
  text-align: center;
}
