/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background: white;
  border-bottom: 1px solid #ccc;
  font-weight: bold;
}

.search-bar {
  flex: 2;
  max-width: 510px;
  border: 1px solid #ddd;
  border-left: none;
  border-radius: 0 6px 6px 0;
  background: #eee;
  margin-right: 10px;
  height: 30px;
  padding: 0 10px;
}

.nav-home {
  margin-left: 10px;
  border-radius: 6px 0 0 6px;
  color: red;
  height: 30px;
  border: 1px solid #ddd;
  padding: 0 10px;
  line-height: 30px;
  white-space: nowrap;
  text-align: center;
  font-family: lobster;
}

.nav-signup {
  margin-left: 10px;
  border-radius: 6px 0 0 6px;
  color: #888;
  height: 30px;
  border: 1px solid #ddd;
  padding: 0 10px;
  line-height: 30px;
  white-space: nowrap;
  text-align: center;
}

.nav-login {
  margin-right: 10px;
  border: 1px solid #ddd;
  border-left: none;
  border-radius: 0 6px 6px 0;
  color: #888;
  height: 30px;
  padding: 0 10px;
  line-height: 30px;
  white-space: nowrap;
  text-align: center;
}

.screen-fade {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
}

.form-box {
  background: white;
  border-radius: 6px;
}

.logo-header {
  height: 60px;
  line-height: 60px;
  font-size: 30px;
  font-family: 'Lobster';
  color: red;
  padding-left: 20px;
}

.dismiss {
  float: right;
  font-family: Roboto;
  color: #888;
  padding: 0 20px;
  font-size: 20px;
  cursor: pointer;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  background: #eee;
  border: 1px solid #ccc;
  font-weight: bold;
  font-size: 14px;
}

.form-header {
  height: 60px;
  line-height: 60px;
  font-size: 30px;
  padding-left: 20px;
  font-weight:normal;
}

.errors {
  margin: 0 20px;
  color: #f33;
  font-weight: normal;
}

.login-field {
  height: 30px;
  line-height: 30px;
  background: white;
  border: 1px solid black;
  border-radius: 6px;
  margin: 0 20px 10px 20px;
  padding: 0 10px;
}

.login-submit {
  height: 30px;
  background: red;
  border-radius: 6px;
  margin: 0 20px 10px 20px;
  padding: 0 10px;
  letter-spacing: 1px;
  color: #eee;
  text-align: center;
}

.login-footer {
  display: flex;
  justify-content: center;
  background: #eee;
  border-radius: 0 0 6px 6px;
}

.switch-form {
  width: 150px;
  height: 30px;
  line-height: 30px;
  background: #666;
  border-radius: 6px;
  margin: 10px;
  padding: 0 10px;
  letter-spacing: 1px;
  color: #eee;
  text-align: center;
}

.nav-profile {
  flex: 1;
  max-width: 270px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #ddd;
  border-right: none;
  border-radius: 6px 0 0 6px;
  margin-left: 10px;
  padding: 0 10px;
  text-align: center;
  color: #888;
}

.logout {
  height: 30px;
  padding: 0 10px;
  border: 1px solid #ddd;
  border-radius: 0 6px 6px 0;
  margin-right: 10px;
  color: #888;
}

.thumb {
  float: left;
  width: 236px;
  height: 236px;
  line-height: 236px;
  margin: 10px;
}

.collection-thumb {
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  float: left;
  border: 1px solid #ddd;
  border-radius: 6px;
  background: white;
  color: transparent;
  height: 100%;
  width: 100%;
}

.item-thumb {
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  float: left;
  border: 1px solid #ddd;
  border-radius: 6px;
  background: #222;
  color: transparent;
  height: 100%;
  width: 100%;
}

.title {
  position: absolute;
  width: inherit;
  height: inherit;
  line-height: inherit;
  color: white;
  text-align: center;
  border-radius: 6px;
  border: 1px solid black;
  background: rgba(0,0,0,0.8);
  visibility: hidden;
}

.thumb:hover .title {
  visibility: visible;
}

.profile-header {
  display: flex;
  height: 60px;
  line-height: 60px;
  font-size: 30px;
  padding-left: 20px;
  background: white;
  border-bottom: 1px solid #ddd;
}

.new-collection {
  float: left;
  width: 236px;
  height: 236px;
  line-height: 236px;
  font-size: 110px;
  margin: 10px;
  text-align: center;
  background: #222;
  color: #eee;
  border-radius: 6px;
}

.collection-screen {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  padding-top: 120px;
}

.collection-form {
  background: white;
  width: 600px;
  border-radius: 6px;
}

.row {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #ccc;
}

.label {
  font-weight: bold;
  padding-left: 20px;
  height: 60px;
  line-height: 60px;
  width: 280px;
}

.collection-field {
  width: 248px;
  background: #eee;
  border: 1px solid black;
  border-radius: 6px;
  height: 30px;
  margin: 15px 15px 0 15px;
  padding: 0 10px;
}

.characteristic-row {
  display: flex;
  flex-direction: row;
  height: 30px;
  align-items: center;
  padding-left: 15px;
  margin-top: 10px;
}

.delete-characteristic {
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  border-radius: 6px 0 0 6px;
  background: #888;
  color: #eee;
  cursor: pointer;
}

.characteristic {
  height: 30px;
  line-height: 30px;
  width: 100%;
  padding-left: 10px;
  border-radius: 0 6px 6px 0;
  border-left: 1px solid #eee;
  margin-right: 15px;
  background: #888;
  color: #eee;
}

.add-characteristic {
  width: 268px;
  background: #eee;
  border: 1px solid #ccc;
  border-radius: 6px;
  height: 30px;
  margin: 15px 15px 0 15px;
}

.collection-header {
  display: flex;
  height: 60px;
  line-height: 60px;
  font-size: 30px;
  padding-left: 20px;
  background: white;
  border-bottom: 1px solid #ddd;
}

.collection-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  height: 60px;
}

.save {
  margin: 0 20px;
  border: 1px solid black;
  padding: 0 10px;
  border-radius: 6px;
  font-weight: bold;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
}

.delete-button {
  margin: 0 20px;
  border: 1px solid black;
  padding: 0 10px;
  border-radius: 6px;
  font-weight: bold;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
}

.edit {
  margin-left: 20px;
  font-size: 14px;
}

.list {
  background: white;
  border-bottom: 1px solid #ddd;
  padding-left: 20px;
}


.organize-form {
  display: flex;
  background: white;
  border-bottom: 1px solid #ccc;
}

.sort-column {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 10px;
}

.filter-column {
  display: flex;
  flex-direction: column;
  flex: 3;
  padding: 10px;
}

.organize-header {
  font-size: 20px;
  border-bottom: 1px solid black;
  width: 60px;
}

.dropdown {
  height: 30px;
  border: 1px solid black;
  border-radius: 6px;
  padding: 0 10px;
  margin: 10px;
  width: 100%;
  box-sizing: border-box;
}

.filter-field {
  margin: 10px;
  border: 1px solid black;
  border-radius: 6px;
  padding-left: 10px;
  height: 30px;
  line-height: 30px;
  background: #eee;
  width: 100%;
  box-sizing: border-box;
}

.spacer {
  height: 25px;
}

.order {
  height: 30px;
  border: 1px solid black;
  border-radius: 6px;
  padding: 0 10px;
  text-align: center;
}

.organize-row {
  display: flex;
  flex-wrap: wrap;
}

.value-filter {
  padding: 10px;
  margin: 10px;
  border-radius: 6px;
  background: #eee;
  cursor: default;
}

.selected {
  background: #888;
  color: #eee;
}

.item-index {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.value {
  padding-left: 20px;
  height: 60px;
  line-height: 60px;
  width: 280px;
}

.link {
  color: blue;
}

.preview {
  float: left;
  height: 70px;
  width: 70px;
  background: #222;
  border-radius: 6px;
}

.collapse {
  display: block;
  margin: auto;
  height: 28px;
  margin-top: -15px;
  background: white;
  padding: 0 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  color: #ccc;
}

.hide {
  display: none;
}
