/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background: white;
  border-bottom: 1px solid #ccc;
  font-weight: bold;
}

.search-bar {
  flex-grow: 2;
  max-width: 510px;
  border-left: none;
  border-radius: 0 6px 6px 0;
  background: #eee;
  margin-right: 10px;
  height: 30px;
  border: 1px solid #ddd;
  padding: 0 10px;
}

.nav-home {
  margin-left: 10px;
  border-radius: 6px 0 0 6px;
  color: #c00;
  height: 30px;
  border: 1px solid #ddd;
  padding: 0 10px;
  line-height: 30px;
  white-space: nowrap;
  text-align: center;
}

.nav-signup {
  margin-left: 10px;
  border-radius: 6px 0 0 6px;
  color: #888;
  height: 30px;
  border: 1px solid #ddd;
  padding: 0 10px;
  line-height: 30px;
  white-space: nowrap;
  text-align: center;
}

.nav-login {
  margin-right: 10px;
  border: 1px solid #ddd;
  border-left: none;
  border-radius: 0 6px 6px 0;
  color: #888;
  height: 30px;
  padding: 0 10px;
  line-height: 30px;
  white-space: nowrap;
  text-align: center;
}

.screen-fade {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
}

.login-form-box {
  background: white;
  border-radius: 6px;
}

.logo-header {
  height: 60px;
  line-height: 60px;
  font-size: 30px;
  font-family: 'Lobster';
  color: red;
  padding-left: 20px;
}

.dismiss {
  float: right;
  font-family: Roboto;
  color: #888;
  padding: 0 20px;
  font-size: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  background: #eee;
  border: 1px solid #ccc;
  font-weight: bold;
  font-size: 14px;
}

.login-header {
  height: 60px;
  line-height: 60px;
  font-size: 30px;
  padding-left: 20px;
  font-weight:normal;
}

.errors {
  margin: 0 20px;
  color: #f33;
  font-weight: normal;
}

.login-field {
  height: 30px;
  line-height: 30px;
  background: white;
  border: 1px solid black;
  border-radius: 6px;
  margin: 0 20px 10px 20px;
  padding: 0 10px;
}

.login-submit {
  height: 30px;
  background: red;
  border-radius: 6px;
  margin: 0 20px 10px 20px;
  padding: 0 10px;
  letter-spacing: 1px;
  color: #eee;
  text-align: center;
}

.login-footer {
  display: flex;
  justify-content: center;
  background: #eee;
  border-radius: 0 0 6px 6px;
}

.switch-form {
  width: 150px;
  height: 30px;
  line-height: 30px;
  background: #666;
  border-radius: 6px;
  margin: 10px;
  padding: 0 10px;
  letter-spacing: 1px;
  color: #eee;
  text-align: center;
}

.nav-profile {
  flex-grow: 1;
  max-width: 270px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #ddd;
  border-right: none;
  border-radius: 6px 0 0 6px;
  margin-left: 10px;
  padding: 0 10px;
  text-align: center;
  color: #888;
}

.logout {
  height: 30px;
  padding: 0 10px;
  border: 1px solid #ddd;
  border-radius: 0 6px 6px 0;
  margin-right: 10px;
  color: #888;
}

.collection-thumb {
  float: left;
  width: 220px;
  height: 220px;
  line-height: 220px;
  margin: 10px;
  text-align: center;
  background: black;
  color: white;
  border-radius: 6px;
}
