* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;

  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;

  box-sizing: inherit;

  background: transparent;
}

body {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  background: #eee;
}

ul {
  list-style: none;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
}

button,
input[type="submit"] {
  cursor: pointer;
}
