// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.login-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #ddd;
}

.login-form-box {
  border: 1px solid black;
  border-radius: 6px;
  background: white;
  width: 300px;
}

.login-form {
  display: flex;
  flex-direction: column;
  background: #eee;
  border-radius: 0 0 6px 6px
}

.login-header {
 border-bottom: 1px solid #ccc;
 padding: 10px 20px;
 font-family: 'Galada';
 font-size: 24pt;
 height: 40px;
 color: red;
}

.login-signup {
 font-size: 30px;
 padding: 10px 20px;
 height: 40px;
}

.login-input, input[type="submit"] {
  display: block;
  height: 30px;
  margin: 0 20px 10px 20px;
  border-radius: 3px;
  font-weight: bold;
  font-size: 14px;
}

.login-input {
  background: white;
  border: 1px solid black;
}

input[type="text"], input[type="password"] {
  padding: 8px;
}

input[type="submit"] {
  background: red;
  margin-bottom: 10px;
}

.login-footer {
  display: flex;
  justify-content: center;
  border-top: 1px solid #ccc;
}

.nav-link {
  width: 150px;
  background: #666;
  border-radius: 3px;
  font-size: 14px;
  font-weight: bold;
  padding: 7px 0;
  margin: 10px;
}

input[type="submit"], .nav-link {
  letter-spacing: 1px;
  color: #eee;
  text-align: center;
}

.logout-button {
  font-family: Roboto;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
}
